@model IEnumerable<Dominio.Entidades.Produto>

<h2>Todas os Produtos</h2>

<div class="row" >

<div class="col-md-12">
    <table class="table table-hover" >
        <thead>
            <tr>
                <td>Nome</td>
            </tr>
        </thead>
        <body>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @item.Nome
                </td>
                <td>@item.Categoria.Nome </td>
                <td>
                    <a href="/Produto/Editar/@item.Id" class="btn">Editar</a>
                </td>
                <td>
                    <a href="/Produto/Deletar/@item.Id" class="btn">Deletar</a>
                </td>

            </tr>
            }
        </body>
    </table>
</div>


</div>

